<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>

    <key>ProgramArguments</key>
    <array>
        <string>__WRAPPER__</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__REPO_DIR__</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HERMES_AGENT_VENV</key>
        <string>__HERMES_VENV__</string>
        <key>HERMES_HUB_REPO</key>
        <string>__REPO_DIR__</string>
        <key>HERMES_HUB_PORT</key>
        <string>__HUB_PORT__</string>
        <key>HERMES_HUB_SPOKE_NAME</key>
        <string>__SPOKE_NAME__</string>
    </dict>

    <key>StandardOutPath</key>
    <string>__LOG_DIR__/__LABEL__.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/__LABEL__.error.log</string>

    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>LimitLoadToSessionType</key>
    <array>
        <string>Aqua</string>
        <string>Background</string>
    </array>
</dict>
</plist>
